/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21d6cd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19a19b;
}
